<?xml version = "1.0" encoding = "utf-8"?>
<config 
	xmlSourceCache = "true"
	fullscreenMaxScale = "2"
	fullscreenEnabled = "true"
	soundFile = ""
	soundLoop = "true"
	soundVolume = "0.3"
	soundEffectsEnabled = "true"
	bookHitCornerRadius = "-1"
	bookHaveCover = "true"
	bookAutoCenter = "true"
	pageWidth = "300"
	pageHeight = "400"
	pageMargin = "15"
	pageCoverMargin = "10"
	pageBgColor = "0x313236"
	pageShadowTransparent = "0.3"
	pageGlowTransparent = "0.3"
	pageBackground = ""
	pageBackgroundPosition = "Tile"
	pageFrame = ""
	pageFrameAutoScale = "true"
	pageProportionalScaling = "true"
	pageMouseWheelScroll = "true"
	pageNumberBgColor = "0x2888B0"
	pageNumberBgTransparent = "1"
	pageNumberFontFamily = "Eurostile LT Std Ext Two"
	pageNumberFontSize = "16"
	pageNumberFontColor = "0xD5D5D5"
	pageNumberVisible = "true"
	bookmarkWidth = "100"
	bookmarkHeight = "15"
	bookmarkMargin = "10"
	bookmarkPadding = "10"
	bookmarkStep = "25"
	bookmarkColor = "0x909090"
	bookmarkHighlight = "0x2888B0"
	bookmarkFontFamily = "Myriad Pro"
	bookmarkFontSize = "12"
	bookmarkFontColor = "0xD5D5D5"
	bookmarkPageVisible = "true"
	textFontFamily = "Tahoma"
	textFontSize = "11"
	textFontColor = "0xA0A0A0"
	linkFontColor = "0x2888B0"
	linkFontHighlight = "0xE0E0E0"
	imageBgColor = "0xFFFFFF"
	imageBgTransparent = "0.2"
	imageBorderThickness = "1"
	imageBorderColor = "0xFFFFFF"
	imageBorderTransparent = "0"
	imageScaleMode = "Crop"
	imageLensSize = "150"
	loaderColor = "0x909090"
	controlBgColor = "0x909090"
	controlBgTransparent = "0.5"
	controlFaceColor = "0x404040"
	controlFaceHighlight = "0x2888B0"
	controlInputBgColor = "0x909090"
	controlInputBgHighlight = "0x2888B0"
	controlCurrentPageColor = "0xF0F0F0"
	controlTotalPagesColor = "0x707070"
	controlNavigationVisible = "true"
	controlSideBgTransparent = "0.5"
	controlSideVisible = "true"
	mediaControlFaceColor = "0x505050"
	mediaControlFaceHighlight = "0xD15E1F"
	mediaFontColor = "0x555555"
	mediaLineColor = "0x909090"
	mediaTimelineBgColor = "0xAAAAAA"
	mediaTimelineColor = "0x505050">
</config>